* {
	-fx-font-family: "Ubuntu Light";
}

#root {
	-light-black: rgb(74, 75, 78);
	-dark-highlight: rgb(87, 89, 92);
	-dark-black: rgb(39, 40, 40);
	-darkest-black: rgb(5, 5, 5);
	-mid-gray: rgb(216, 222, 227);
	-fx-background-color: -mid-gray;
}

.root {
	-fx-font-family: "Ubuntu Light" !important;
	-fx-font-smoothing-type: gray !important;
	-fx-font-size: 12pt;
}

.button {
	/* Default button colors */
	-spout-button-top-color: white;
	-spout-button-gradient-top-color: white;
	-spout-button-gradient-bottom-color: #ECEFF2;
	-spout-button-border-color: #C3C3C3;
	-spout-button-hover-gradient-top-color: white;
	-spout-button-hover-gradient-bottom-color: #E8ECF0;
	-spout-button-hover-border-color: #C3C3C3;
	-spout-button-armed-border-color: #C3C3C3;
	-spout-button-text-color: black;
	-spout-button-hover-text-color: #368DB2;
	-fx-font-family: "Ubuntu Medium" !important;
	-fx-text-fill: -spout-button-text-color;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-color: -spout-button-border-color;
	-fx-background-color: -spout-button-top-color,
		linear-gradient(to bottom, -spout-button-gradient-top-color,
		-spout-button-gradient-bottom-color);
	-fx-background-insets: 0, 2 0 0 0;
	-fx-background-radius: 0;
	-fx-padding: 10;
}

.button:hover {
	-fx-border-color: -spout-button-hover-border-color;
	-fx-background-color: -spout-button-top-color,
		linear-gradient(to bottom, -spout-button-hover-gradient-top-color,
		-spout-button-hover-gradient-bottom-color);
	-fx-text-fill: -spout-button-hover-text-color;
}

.button:armed {
	-fx-border-color: -spout-button-armed-border-color;
	-fx-background-insets: 0, 0;
	-fx-background-color: -spout-button-gradient-top-color !important;
	-fx-effect: innershadow(three-pass-box, #969696, 25, 0.0, 0, 0);
}

.button:default, .button.action {
	-spout-button-top-color: #3576D4;
	-spout-button-gradient-top-color: #2966BF;
	-spout-button-gradient-bottom-color: #2761B5;
	-spout-button-border-color: #1F4D91;
	-spout-button-hover-gradient-top-color: #2B6DCB;
	-spout-button-hover-gradient-bottom-color: #2966BE;
	-spout-button-hover-border-color: linear-gradient(to bottom, #2155A0, #2966BF);
	-spout-button-armed-border-color: linear-gradient(to bottom, #1E498B, #2966BE);
	-spout-button-text-color: white;
	-spout-button-hover-text-color: white;
}

.button.alert {
	-spout-button-top-color: #CB3C3D;
	-spout-button-gradient-top-color: #B23635;
	-spout-button-gradient-bottom-color: #AA3333;
	-spout-button-border-color: #862928;
	-spout-button-hover-gradient-top-color: #B64040 !important;
	-spout-button-hover-gradient-bottom-color: #AD3D3D !important;
	-spout-button-hover-border-color: linear-gradient(to bottom, #962D2D, #B03737);
	-spout-button-armed-border-color: linear-gradient(to bottom, #812625, #B13636);
	-spout-button-text-color: white;
	-spout-button-hover-text-color: white;
}

.button.confirm {
	-spout-button-top-color: #53B45B;
	-spout-button-gradient-top-color: #46A34E;
	-spout-button-gradient-bottom-color: #419A49;
	-spout-button-border-color: #357B3B;
	-spout-button-hover-gradient-top-color: #4AAB52 !important;
	-spout-button-hover-gradient-bottom-color: #47A44F !important;
	-spout-button-hover-border-color: linear-gradient(to bottom, #3B8841, #60AD68);
	-spout-button-armed-border-color: linear-gradient(to bottom, #327437, #45A14D);
	-spout-button-text-color: white;
	-spout-button-hover-text-color: white;
}

.button:default:armed, .button.alert:armed, .button.alert:armed, .button.confirm:armed
	{
	-fx-effect: innershadow(three-pass-box, black, 25, 0.0, 0, 0);
}

.button:default .text, .button.action .text, .button.confirm .text,
	.button.alert .text {
	-fx-effect: dropshadow(gaussian, grey, 2, 0.0, 0, -1);
}

.nav-button {
	-fx-padding: 10px;
	-fx-text-fill: #336A97;
	-fx-border-width: 0;
	-fx-background-color: transparent;
}

.nav-button.selected {
	-fx-padding: 11px 9px 9px 11px;
}

.nav-button.selected, .nav-button:armed {
	-fx-text-fill: #0A8EDC;
	-fx-effect: innershadow(gaussian, #CCCED3, 5, 0.0, 5, 3);
	-fx-background-color: #DFE1E7;
	/*     -fx-background-color: #336A97; */
}

.nav-button:armed {
	-fx-text-fill: #2A8EFC !important;
	-fx-padding: 12px 8px 8px 12px !important;
}

/**/
.tree-view {
	-fx-padding: 1;
	-fx-background-color: null;
	-fx-background-insets: 0, 1;
}

.tree-view:focused {
	-fx-padding: 1;
	-fx-background-color: null;
}

.tree-cell {
	-fx-background-color: null;
}

/****************/
/* #background { */
/*     -light-black: rgb(74, 75, 78); */
/*     -dark-highlight: rgb(87, 89, 92); */
/*     -dark-black: rgb(39, 40, 40); */
/*     -darkest-black: rgb(5, 5, 5); */
/*     -mid-gray: rgb(216, 222, 227); */
/*     -fx-background-color: -mid-gray; */
/* } */
.tool-bar {
	-fx-base: rgb(39, 40, 40);
	-fx-font-size: 12pt;
	-fx-background-color: linear-gradient(to bottom, derive(-fx-base, -30%),
		derive(-fx-base, -60%)), linear-gradient(to bottom, rgb(74, 75, 78) 2%,
		rgb(39, 40, 40) 98%);
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: .9em 0.416667em .9em 0.416667em;
	-fx-effect: dropshadow(two-pass-box, black, 5, .2, 0, 0);
}

.segmented-button-bar .button {
	-fx-background-color: rgb(5, 5, 5), rgb(87, 89, 92),
		linear-gradient(to bottom, rgb(74, 75, 78) 2%, rgb(39, 40, 40) 98%);
	-fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
	-fx-background-radius: 0;
	-fx-padding: 0.4em 1.833333em 0.4em 1.833333em;
}

.segmented-button-bar .button.first {
	-fx-background-insets: 0, 1, 2 1 1 1;
	-fx-background-radius: 3 0 0 3, 2 0 0 2, 2 0 0 2;
}

.segmented-button-bar .button.last {
	-fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
	-fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;
}

.segmented-button-bar .button:pressed {
	-fx-background-color: rgb(5, 5, 5), rgb(55, 57, 58),
		linear-gradient(to top, rgb(74, 75, 78) 2%, rgb(39, 40, 40) 98%);
}

/**/

/* .tree-view:focused { */
/*     -fx-padding: 1; */
/*     -fx-background-color: null; */
/*     -fx-background-insets: -1.4, 0, 1; */
/*     -fx-background-radius: -1.4, 0, 0; */
/* } */
/* .tree-cell { */
/*     -fx-font: bold 14pt "Amble Cn"; */
/*     -fx-text-fill: white; */
/*     -fx-background-color: null;     */
/*     -fx-cell-size: 24; */
/*     -fx-indent: 6; */
/*     -fx-padding: 3; */
}