searchablekeyboard .text-field{
	-fx-border-top-right-radius: 0px; 
	-fx-background-top-right-radius: 0px;
	
	-fx-border-radius: 2 0 0 2;
  	-fx-background-radius: 2 0 0 2;
}
.searchablekeyboard .button{
	-fx-graphic: url('../images/search-16.png');
	-fx-border-radius: 0 3 3 0;
  	-fx-background-radius: 0 3 3 0;
  	
  	
	/*
  	-fx-border-color: transparent;
	 -fx-background-insets: -1.4, 0, 1, 2;
	-fx-border-top-left-radius: 0px; 
	-fx-border-bottom-left-radius: 0px; 	
	 top-left, top-right, bottom-right, and bottom-left corners, in that order. */ 
}
/* .searchablekeyboard .button:focused{ */
/* 	-fx-focus-color: transparent; */
/* 	-fx-background-insets: -1.4, 0, 1, 2; */
/* 	-fx-border-color: transparent; */
	
/* } */
/* .searchablekeyboard .button:selected{ */
	
/* 	-fx-border-color: transparent; */
/* 	 -fx-background-insets: -1.4, 0, 1, 2; */
	
/* } */
/* .searchablekeyboard .button:hover{ */
/* 	-fx-border-color: transparent; */
/* 	 -fx-background-insets: -1.4, 0, 1, 2; */
	
/* } */

