#root {
	-light-black: rgb(74, 75, 78);
	-dark-highlight: rgb(87, 89, 92);
	-dark-black: rgb(39, 40, 40);
	-darkest-black: rgb(5, 5, 5);
	-mid-gray: rgb(216, 222, 227);
	-fx-background-color: -mid-gray;
	
}

.segmented-button-bar{
  -fx-background-color:
        -darkest-black,
        -dark-highlight,
        linear-gradient(to bottom, -light-black 15%, -dark-black 85%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 1.833333em 0.4em 1.833333em 0.4em;
	
	/*
	-fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);*/
}

.xine-tool-bar
{
	-fx-base: -dark-black;
    -fx-font-size: 12pt;
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: .9em 0.416667em .9em 0.416667em;
	
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}
   
.xine-tool-bar .button {
    -fx-background-color:
        -darkest-black,
        -dark-highlight,
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0.5em 1.833333em 0.5em 1.833333em;
}

 
.segmented-button-bar .button.first {
	-fx-border-radius: 9 9 0 0;
  -fx-background-radius: 9 9 0 0;
	/*
	-fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;
	*/
	
	
}

.segmented-button-bar .button.last {
	-fx-border-radius: 0 0 9 9;
  -fx-background-radius: 0 0 9 9;
   /* -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;*/
}

.segmented-button-bar .button:pressed {
    -fx-background-color:
        -darkest-black,
        rgb(55, 57, 58),
        linear-gradient(to top, -light-black 2%, -dark-black 98%);
}
 

