* {
	-fx-font-family: "Ubuntu Light";
	
}

#root {
	-light-black: rgb(74, 75, 78);
	-dark-highlight: rgb(87, 89, 92);
	-dark-black: rgb(39, 40, 40);
	-darkest-black: rgb(5, 5, 5);
	-mid-gray: rgb(216, 222, 227);
	-fx-background-color: -mid-gray;
}

.root {
	-fx-font-family: "Ubuntu Light" !important;
	-fx-font-smoothing-type: gray !important;
	-fx-font-size: 12pt;
}
 
.xine-button{ 
	
		/* Default button colors */
	-spout-button-top-color: white;
	-spout-button-gradient-top-color: white;
	-spout-button-gradient-bottom-color: #ECEFF2;
	-spout-button-border-color: #C3C3C3;
	-spout-button-hover-gradient-top-color: white;
	-spout-button-hover-gradient-bottom-color: #E8ECF0;
	-spout-button-hover-border-color: #C3C3C3;
	-spout-button-armed-border-color: #C3C3C3;
	-spout-button-text-color: black;
	-spout-button-hover-text-color: #368DB2;
	-fx-font-family: "Ubuntu Medium" !important;
	-fx-text-fill: -spout-button-text-color;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-color: -spout-button-border-color;
	-fx-background-color: -spout-button-top-color,
		linear-gradient(to bottom, -spout-button-gradient-top-color,
		-spout-button-gradient-bottom-color);
	-fx-background-insets: 0, 2 0 0 0;
	-fx-background-radius: 0;
	-fx-padding: 10;
	
}


.xine-button:hover {
	-fx-border-color: -spout-button-hover-border-color;
	-fx-background-color: -spout-button-top-color,
		linear-gradient(to bottom, -spout-button-hover-gradient-top-color,
		-spout-button-hover-gradient-bottom-color);
	-fx-text-fill: -spout-button-hover-text-color;
}

.xine-button:armed {
	-fx-border-color: -spout-button-armed-border-color;
	-fx-background-insets: 0, 0;
	-fx-background-color: -spout-button-gradient-top-color !important;
	-fx-effect: innershadow(three-pass-box, #969696, 25, 0.0, 0, 0);
}

.xine-button:default, .xine-button.action {
	-spout-button-top-color: #3576D4;
	-spout-button-gradient-top-color: #2966BF;
	-spout-button-gradient-bottom-color: #2761B5;
	-spout-button-border-color: #1F4D91;
	-spout-button-hover-gradient-top-color: #2B6DCB;
	-spout-button-hover-gradient-bottom-color: #2966BE;
	-spout-button-hover-border-color: linear-gradient(to bottom, #2155A0, #2966BF);
	-spout-button-armed-border-color: linear-gradient(to bottom, #1E498B, #2966BE);
	-spout-button-text-color: white;
	-spout-button-hover-text-color: white;
}

.xine-button.alert {
	-spout-button-top-color: #CB3C3D;
	-spout-button-gradient-top-color: #B23635;
	-spout-button-gradient-bottom-color: #AA3333;
	-spout-button-border-color: #862928;
	-spout-button-hover-gradient-top-color: #B64040 !important;
	-spout-button-hover-gradient-bottom-color: #AD3D3D !important;
	-spout-button-hover-border-color: linear-gradient(to bottom, #962D2D, #B03737);
	-spout-button-armed-border-color: linear-gradient(to bottom, #812625, #B13636);
	-spout-button-text-color: white;
	-spout-button-hover-text-color: white;
}

.xine-button.confirm {
	-spout-button-top-color: #53B45B;
	-spout-button-gradient-top-color: #46A34E;
	-spout-button-gradient-bottom-color: #419A49;
	-spout-button-border-color: #357B3B;
	-spout-button-hover-gradient-top-color: #4AAB52 !important;
	-spout-button-hover-gradient-bottom-color: #47A44F !important;
	-spout-button-hover-border-color: linear-gradient(to bottom, #3B8841, #60AD68);
	-spout-button-armed-border-color: linear-gradient(to bottom, #327437, #45A14D);
	-spout-button-text-color: white;
	-spout-button-hover-text-color: white;
}

.xine-button:default:armed, .xine-button.alert:armed, .xine-button.alert:armed, .xine-button.confirm:armed
	{
	-fx-effect: innershadow(three-pass-box, black, 25, 0.0, 0, 0);
}

.xine-button:default .text, .xine-button.action .text, .xine-button.confirm .text,
	.xine-button.alert .text {
	-fx-effect: dropshadow(gaussian, grey, 2, 0.0, 0, -1);
}

/*
.button {
		
	-spout-button-top-color: white;
	-spout-button-gradient-top-color: white;
	-spout-button-gradient-bottom-color: #ECEFF2;
	-spout-button-border-color: #C3C3C3;
	-spout-button-hover-gradient-top-color: white;
	-spout-button-hover-gradient-bottom-color: #E8ECF0;
	-spout-button-hover-border-color: #C3C3C3;
	-spout-button-armed-border-color: #C3C3C3;
	-spout-button-text-color: black;
	-spout-button-hover-text-color: #368DB2;
	-fx-font-family: "Ubuntu Medium" !important;
	-fx-text-fill: -spout-button-text-color;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-color: -spout-button-border-color;
	-fx-background-color: -spout-button-top-color,
		linear-gradient(to bottom, -spout-button-gradient-top-color,
		-spout-button-gradient-bottom-color);
	-fx-background-insets: 0, 2 0 0 0;
	-fx-background-radius: 0;
	-fx-padding: 10;
}


.button:hover {
	-fx-border-color: -spout-button-hover-border-color;
	-fx-background-color: -spout-button-top-color,
		linear-gradient(to bottom, -spout-button-hover-gradient-top-color,
		-spout-button-hover-gradient-bottom-color);
	-fx-text-fill: -spout-button-hover-text-color;
}

.button:armed {
	-fx-border-color: -spout-button-armed-border-color;
	-fx-background-insets: 0, 0;
	-fx-background-color: -spout-button-gradient-top-color !important;
	-fx-effect: innershadow(three-pass-box, #969696, 25, 0.0, 0, 0);
}

.button:default, .button.action {
	-spout-button-top-color: #3576D4;
	-spout-button-gradient-top-color: #2966BF;
	-spout-button-gradient-bottom-color: #2761B5;
	-spout-button-border-color: #1F4D91;
	-spout-button-hover-gradient-top-color: #2B6DCB;
	-spout-button-hover-gradient-bottom-color: #2966BE;
	-spout-button-hover-border-color: linear-gradient(to bottom, #2155A0, #2966BF);
	-spout-button-armed-border-color: linear-gradient(to bottom, #1E498B, #2966BE);
	-spout-button-text-color: white;
	-spout-button-hover-text-color: white;
}

.button.alert {
	-spout-button-top-color: #CB3C3D;
	-spout-button-gradient-top-color: #B23635;
	-spout-button-gradient-bottom-color: #AA3333;
	-spout-button-border-color: #862928;
	-spout-button-hover-gradient-top-color: #B64040 !important;
	-spout-button-hover-gradient-bottom-color: #AD3D3D !important;
	-spout-button-hover-border-color: linear-gradient(to bottom, #962D2D, #B03737);
	-spout-button-armed-border-color: linear-gradient(to bottom, #812625, #B13636);
	-spout-button-text-color: white;
	-spout-button-hover-text-color: white;
}

.button.confirm {
	-spout-button-top-color: #53B45B;
	-spout-button-gradient-top-color: #46A34E;
	-spout-button-gradient-bottom-color: #419A49;
	-spout-button-border-color: #357B3B;
	-spout-button-hover-gradient-top-color: #4AAB52 !important;
	-spout-button-hover-gradient-bottom-color: #47A44F !important;
	-spout-button-hover-border-color: linear-gradient(to bottom, #3B8841, #60AD68);
	-spout-button-armed-border-color: linear-gradient(to bottom, #327437, #45A14D);
	-spout-button-text-color: white;
	-spout-button-hover-text-color: white;
}

.button:default:armed, .button.alert:armed, .button.alert:armed, .button.confirm:armed
	{
	-fx-effect: innershadow(three-pass-box, black, 25, 0.0, 0, 0);
}

.button:default .text, .button.action .text, .button.confirm .text,
	.button.alert .text {
	-fx-effect: dropshadow(gaussian, grey, 2, 0.0, 0, -1);
}
*/





searchablekeyboard .text-field{
	-fx-border-top-right-radius: 0px; 
	-fx-background-top-right-radius: 0px;
	
	-fx-border-radius: 2 0 0 2;
  	-fx-background-radius: 2 0 0 2;
}
.searchablekeyboard .button{
	-fx-graphic: url('../images/search-16.png');
	-fx-border-radius: 0 3 3 0;
  	-fx-background-radius: 0 3 3 0;
  	
  	
	/*
  	-fx-border-color: transparent;
	 -fx-background-insets: -1.4, 0, 1, 2;
	-fx-border-top-left-radius: 0px; 
	-fx-border-bottom-left-radius: 0px; 	
	 top-left, top-right, bottom-right, and bottom-left corners, in that order. */ 
}


.progress-indicator .indicator {
    -fx-background-color: transparent ;
}
.progress-indicator {
    -fx-progress-color: green ;
}
.progress-indicator:critical {
    -fx-progress-color: red ;
}
.progress-indicator:warning {
    -fx-progress-color: orange ;
}